  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  .outer-container {
    min-height: 55rem;
    height: 100vh;
    width: 100%;
    background-image: radial-gradient( circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  }
  .score-outer-container {
    min-width: 30rem;
    width: 50%;
    height: 7.8rem;
    border: 3px solid hsl(217, 16%, 45%);
    margin: auto;
    transform: translateY(3rem);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
  }
  /* .score-outer-container * {border: 1px solid red;} */
  .head {
    height: 80%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .head h1 {
    color: white;
    letter-spacing: 1px;
  }
  .paperText {
    margin: -0.8rem 0 -0.8rem 0;
  }
  .score-container {
    height: 68%;
    width: 7rem;
    border-radius: 5px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .score-container h1, p {
    color: hsl(229, 25%, 31%);
  }
  .icons-outer-container {
    height: 41rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons-container {
    height: 30.5rem;
    width: 35rem;
    transition: 0.5s linear;
  }
  .top {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .bottom {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paper {
    background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    border-bottom: 0.4rem solid hsl(229, 64%, 46%);
  }
  .scissors {
    background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    border-bottom: 0.4rem solid hsl(30, 89%, 49%);
  }
  .rock {
    background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    border-bottom: 0.4rem solid hsl(349, 90%, 50%);
  }
  .spock {
    background-image: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    border-bottom: 0.4rem solid hsl(189, 92%, 30%);
  }
  .lizard {
    background-image: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    border-bottom: 0.4rem solid hsl(261, 90%, 52%);
  }
  .internal-circle {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-top: 0.5rem solid #c4ccc4;
  }
  .internal-circle img {
    height: 60%;
  }
  .circle {
    position: relative;
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  .line {
    height: 1rem;
    width: 15rem;
    position: absolute;
    background: hsl(237, 49%, 15%);
    /* margin: 0 -7rem 0 -7rem; */
  }
  #left-line {
    transform: rotate(60deg) translateX(3.5rem) translateY(7.9rem);
  }
  #right-line {
    transform: rotate(-60deg) translateX(-3.5rem) translateY(7.9rem);
  }
  .rules-outer-container {
    position: absolute;
    width: 100%;
    display: flex;
    height: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.5);
    z-index: 5;
    opacity: 0;
    transition: 0.8s ease-in-out;
    pointer-events: none;
  }
  .rules-container {
    /* position: absolute; */
    height: 25.5rem;
    width: 24.3rem;
    padding: 1.8rem 2rem 0 2rem;
    /* z-index: 5; */
    background: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .rules-container p {
    font-size: 1.7rem;
    font-weight: bold;
    /* margin-left: -0.9rem; */
  }
  #rules-image {
    margin-top: 3.5rem;
    width: 18rem;
  }
  .rules-inner-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .picked-outer-container {
    top: 0;
    position: absolute;
    width: 100%;
    height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

  }
  .picked-container {
    /* border: 1px solid red; */
    /* position: absolute; */
    height: 20rem;
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    /* margin: auto; */
    /* display: none; */
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 0.6s linear;
    /* bottom: 50%; */
    /* right: 50%; */
    /* transform: translate(50%, 60%); */
    /* margin-top: -5rem; */
  }
  #user_picked {
    pointer-events: none;
  }
  .left-container, .right-container, .middle-container {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s ease-in-out;
    text-align: center;
  }
  .left-container h2,
  .right-container h2 {
    width: 13rem;
  }
  .middle-container {
    justify-content: center;
    opacity: 0;
  }
  .play-again {
    height: 2rem;
    width: 8rem;
    margin: 1rem 0 -3rem 0;
    border-radius: 5px;
    outline: none;
    border: none;
    color: red;
    /* z-index: 3; */
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  .resultText {
    color: white;
    /* display: none; */
  }
  .picked-container h2 {
    color: white;
    font-size: 1.2rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: lighter;
  }
  .empty-circle {
    position: relative;
    background: #142540;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }
  .house_picked::after {
    content: '';
    height: 23rem;
    width: 23rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    /* z-index: 1; */
    transform: translate(50%, 50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
    transition: 0.4s linear;
  }
  .house_picked::before {
    content: '';
    height: 28.5rem;
    width: 28.5rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    /* z-index: 1; */
    transform: translate(50%, 50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
    transition: 0.4s linear;
  }
  .circles {
    position: relative;
    transition: 0.25s cubic-bezier(0.01, 0.82, 0, 1.39);
  }

  .circles::before {
    content: '';
    height: 17.5rem;
    width: 17.5rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    /* z-index: 1; */
    transform: translate(50%, 50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
    transition: 0.4s linear;
  }
  .buttonsContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -2rem;
    padding-left: 2rem;
  }
  .buttons-inner-container {
    width: 128px;
    height: 100%;
    background: none;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #rules, #rps {
    height: 39px;
    width: 128px;
    background: transparent;
    border: 3px solid white;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    transition: 0.25s linear;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  #rules:hover,
  #rps:hover {
    color: hsl(229, 25%, 31%);
  }
  .rpsbuttonContainer, .rulesbuttonContainer {
    height: 39px;
    width: 0;
    background: White;
    transition: 0.5s linear;
    border-radius: 8px;
    /* z-index: 3; */
  }
  .rpsbuttonContainer:hover, .rulesbuttonContainer:hover {
    width: 128px;
  }
  .rpsls-outer-container {
    height: 50rem;
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    transition: 0.5s linear;
    z-index: 4;
  }
  /* .rpsls-outer-container * {border: 1px solid red;} */
  .rpsls-container {
    display: flex;
    width: 30rem;
    height: 37rem;
    /* justify-content: space-evenly; */
    flex-direction: column;
  }
  .top-container, .middle_container, .bottom-container {
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-container {
    margin-bottom: -4rem;
  }
  .middle_container {
    justify-content: space-between;
  }
  .bottom-container {
    justify-content: space-evenly;
  }
  .reduceRadius1 {
    width: 9rem;
    height: 9rem;
  }
  .reduceRadius2 {
    width: 6rem;
    height: 6rem;
  }
  #top-left-line {
    transform: rotate(141deg) translateX(4.5rem) translateY(-8.1rem);
  }
  #top-right-line {
    transform: rotate(39deg) translateX(16.5rem) translateY(-0.8rem);
  }
  #bottom-left-line {
    transform: rotate(72deg) translateX(19.5rem) translateY(7.4rem);
  }
  #bottom-right-line {
    transform: rotate(108deg) translateX(14.5rem) translateY(-21.5rem);
  }
  @media only screen and (max-width: 620px) {
    html {
      font-size: 75%;
    }
    .outer-container {
      height: 70rem;
    }
    .buttonsContainer {
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }
  @media only screen and (max-width: 420px) {
    html {
      font-size: 70%;
    }
    .rules-container {
      width: 85%;
      height: 52%;
    }

  }
  @media only screen and (max-width: 370px) {
    html {
      font-size: 55%;
    }
  }
