  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  .outer-container {
    height: 80rem;
    width: 100%;
    background-image: radial-gradient( circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  }
  .score-outer-container {
    min-width: 30rem;
    width: 50%;
    height: 7.8rem;
    border: 3px solid hsl(217, 16%, 45%);
    margin: auto;
    transform: translateY(3rem);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
  }
  /* .score-outer-container * {border: 1px solid red;} */
  .head {
    height: 80%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .head h1 {
    color: white;
    letter-spacing: 1px;
  }
  .paperText {
    margin: -0.8rem 0 -0.8rem 0;
  }
  .score-container {
    height: 68%;
    width: 7rem;
    border-radius: 5px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .score-container h1, p {
    color: hsl(229, 25%, 31%);
  }
  .icons-container {
    height: 25rem;
    width: 30rem;
    margin: auto;
    margin-top: 5rem;
    transition: 0.5s linear;
  }
  .top {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .bottom {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paper {
    background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    border-bottom: 0.3rem solid hsl(229, 64%, 46%);
  }
  .scissors {
    background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    border-bottom: 0.3rem solid hsl(30, 89%, 49%);
  }
  .rock {
    background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    border-bottom: 0.3rem solid hsl(349, 90%, 52%);
  }
  .internal-circle {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-top: 0.4rem solid #c4ccc4;
  }
  .circle {
    position: relative;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .line {
    height: 1rem;
    width: 15rem;
    position: absolute;
    background: hsl(237, 49%, 15%);
    /* margin: 0 -7rem 0 -7rem; */
  }
  #left-line {
    transform: rotate(59deg) translateX(3.5rem) translateY(6.5rem);
  }
  #right-line {
    transform: rotate(-59deg) translateX(-3.5rem) translateY(6.5rem);
  }
  .rules-outer-container {
    position: absolute;
    width: 100%;
    height: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.5);
    display: none;
  }
  .rules-container {
    /* position: absolute; */
    height: 25.5rem;
    width: 24.3rem;
    padding: 1.8rem 2rem 0 2rem;
    z-index: 3;
    background: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .rules-container p {
    font-size: 1.7rem;
    font-weight: bold;
    /* margin-left: -0.9rem; */
  }
  #rules-image {
    margin-top: 3.5rem;
    width: 18rem;
  }
  .rules-inner-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .picked-container {
    /* border: 1px solid red; */
    /* position: absolute; */
    height: 20rem;
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    margin: auto;
    margin-top: 5rem;
    /* display: none; */
    opacity: 0;
    transition: width 0.5s ease-in-out;
    /* border: 1px solid red; */
    /* z-index: 3; */
  }
  .left-container, .right-container, .middle-container {
    width: 33.33%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* transition: 2s linear; */
  }
  .left-container,
  .right-container h2 {
    width: 15rem;
  }
  .middle-container {
    justify-content: center;
    opacity: 0;
  }
  .play-again {
    height: 2rem;
    width: 8rem;
    margin: 1rem 0 -3rem 0;
    border-radius: 5px;
    outline: none;
    border: none;
    color: red;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  .resultText {
    color: white;
    /* display: none; */
  }
  .picked-container h2 {
    color: white;
    font-size: 1.2rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: lighter;
  }
  .empty-circle {
    position: relative;
    background: #142540;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }
  .house_picked::after {
    content: '';
    height: 17.5rem;
    width: 17.5rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    z-index: 1;
    transform: translate(50%, 50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
  }
  .house_picked::before {
    content: '';
    height: 22rem;
    width: 22rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    z-index: 1;
    transform: translate(50%, 50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
  }
  .circles {
    position: relative;
  }
  .circles::before {
    content: '';
    height: 13rem;
    width: 13rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    z-index: 1;
    transform: translate(50%, 50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
  }

  @media only screen and (max-width: 420px) {
    html {
      font-size: 65%;
    }
    .picked-container {
      width: 100%;
      height: 30rem;
      overflow: hidden;
    }
  }
  @media only screen and (max-width: 360px) {
    html {
      font-size: 55%;
    }
  }
